/* HEADERS */
header {  
    display: flex;
    justify-content: start;
    background-color: whitesmoke;
}

header #logo {
    /* display: block; */
    padding-left: 500px;
    width: 8%;
    /* border-radius: 50%; */
}

header .headerMenu {    
    display: flex;    
    margin-left: auto;    
    padding-right: 400px;    
    font-family: 'Franklin Gothic Medium';    
    font-size: small;
}   

.headerMenu button {
    background-color: rgb(210, 200, 200);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    border-radius: 120px;
    transition-duration: 1s;
}

.headerMenu button:hover {
    background-color: black;
    color: white;
}

.home {
    padding-right: 15px;
}
.about {
    padding-right: 15px;
}

/* MAINS */

/* main {} */
main .menu {    
    background-color: aliceblue;    
    display: flex;    
    padding-left: 43%;    
    font-family: 'Franklin Gothic Medium';    
    font-size: large;
}

.menu .games {    
    padding-right: 10px;
}

.menu .publishing {    
    padding-right: 10px;
}

.menu .shop {    
    padding-right: 10px;
}

.main .section_1 {    
    text-align: center;    
    font-family:'Franklin Gothic Medium';
}